<div class="box box-primary">
    <div class="box-body box-profile slim">
        <div>
            <div class="col-md-10">
                <label style="margin:0" class="profile-username text-center">
                    <i style="margin:0 10px" class="fa MYICON" aria-hidden="true"></i>
                    MyTilTle
                </label>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block" onclick="SerachVendorsOffersInfo()">
                    @Resources.Resource.Search
                </button>
            </div>
        </div>
    </div>
    <div class="box-body box-profile" id="MRP_VendorsOffersInfoDiv">

    </div>
</div>

<div class="modal fade" id="Model_VendorsOffersInfo">
    <div class="modal-dialog">
        <form class="modal-content">
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="box-body box-profile" id="VendorsOffersInfoDiv">

            </div>

        </form>
    </div>
</div>

<script>
    $('#Model_VendorsOffersInfo').draggable({
        handle: ".modal-header",
    });
    function CheckValue(ID) {
        if (document.getElementById(ID).getAttribute('required') == 'true') {
            if (document.getElementById(ID).value == '') {
                document.getElementById(ID).focus();
                return true;
            } else {
                return false;
            }
        }
        return false;
    }
    function SerachVendorsOffersInfo() {
        VendorsOffersInfoDiv.innerHTML = "";
        MRP_VendorsOffersInfoDiv.innerHTML = "";
        $('#VendorsOffersInfoDiv').load('../../../VendorsOffersInfo/VendorsOffersInfoList');
        $('#Model_VendorsOffersInfo').modal('show');
    }

    function AddEnterVendorOffer(ReqforQuotyear,ReqforQuotNo) {
        wait();
        burn({ ReqforQuotyear: ReqforQuotyear, ReqforQuotNo: ReqforQuotNo }, '../../../VendorsOffersInfo/EnterVendorOffer', '', LoadEnterVendorOffer, true);
    }
    function LoadEnterVendorOffer(r) {
        MRP_VendorsOffersInfoDiv.innerHTML = "";
        $('#MRP_VendorsOffersInfoDiv').html(r);
        $('#Model_VendorsOffersInfo').modal('hide');
        done();
    }
</script>
