@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.Companies</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/Main.js"></script>
    @if (Session["language"].ToString() == "ar-JO")
    {
        <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />
    }
</head>
<body class="alpha-portal-error">
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-body">
                <h1 class="text-center ">@Resources.Resource.NoAuthrizeCompanies</h1>
            </div>
            <div class="panel-footer">
                <a href="@Url.Action("Logout","Account", new {area=string.Empty})" class="btn btn-danger">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    @Resources.Resource.Back
                </a>
            </div>
        </div>
    </div>
</body>
</html>
